<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="HoverRobot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.41515 -0.14476 -0.18554"
        rpy="0 0 0" />
      <mass
        value="4.6233" />
      <inertia
        ixx="0.011854"
        ixy="-4.1335E-07"
        ixz="2.0331E-05"
        iyy="0.015193"
        iyz="-6.4469E-07"
        izz="0.014152" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hoverrobot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.9451 0.11373 0.11373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hoverrobot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>